* {
    outline-style: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    color: #000;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}

.topo {
    width: 100%;
    height: 54px;
    background: #FFF;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    z-index: 10;
}

.topo>div {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.topo-logo {
    /* background: lightcoral; */
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.topo ion-icon {
    font-size: 23px;
}

.topo-logo img {
    width: 103px;
    height: 29px;
}

.topo-logo .separador-horizontal {
    width: 1px;
    height: 22px;
    background: #dbdbdb;
    margin-right: 10px;
    margin-left: 11px;
}

.topo-pesquisa {
    /* background: cyan; */
    width: 215px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-pesquisa input {
    width: 100%;
    height: 26px;
    border-radius: 3px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    text-align: center;
}

.topo-menu {
    /* background: yellow; */
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topo-menu ion-icon {
    margin-right: 24px;
}

.topo-menu ion-icon:last-child {
    margin-right: 0px;
}

.container {
    width: 935px;
    height: auto;
    /* background: lightpink; */
    display: flex;
    justify-content: center;
    margin-top: 88px;
}

.content {
    width: 614px;
    height: auto;
    margin-right: 28px;
    /* background: #444; */
}

.stories-box {
    width: 100%;
    height: 84px;
    background: #FFF;
    margin-bottom: 24px;
    padding: 16px 0px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.setinha {
    font-size: 28px;
    color: white;
    box-shadow: 0px 0px 0px gray;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 10px;
}

.stories-box>div {
    width: 612px;
    height: 100%;
    padding-left: 12px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.story-box {
    width: 74px;
    height: 90px;
    margin-right: 6px;
    padding: 0px 4px;
    /* background: lightcoral; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8px;
}

.story {
    width: 66px;
    height: 66px;
    background-image: url("../imagens/stories_background.jpg");
    background-size: 66px;
    background-repeat: no-repeat;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.story img {
    margin-top: 7px;
    margin-bottom: 8px;
    border-radius: 100%;
}

.story-user {
    margin-top: 7px;
    text-align: center;
    font-size: 12px;
    color: #262626;
}

.feed {
    width: 100%;
    height: auto;
    /* background: #DDD; */
}

.post {
    width: 100%;
    height: auto;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    border-radius: 4px 4px 4px 4px;
}

.post img {
    width: 614px;
    height: auto;
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    padding: 16px;
    width: calc(100% - 32px);
    height: 27px;
    border-radius: 4px 4px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.post-top>span {
    display: flex;
    align-items: center;
}

.post-top img {
    width: 32px;
    margin-right: 15px;
}

.post-bottom {
    background: #fff;
    width: calc(100% - 32px);
    height: 49px;
    padding: 14px 16px;
    padding-bottom: 17px;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.post-bottom-icons {
    font-size: 24px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.left-pack-icons>span {
    margin-right: 8px;
}

.curtidas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1px;
}

.curtidas img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sidebar {
    /* background: orange; */
    width: 293px;
    height: 100%;
}

.sidebar-top {
    height: 84px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7px;
}

.sidebar-top>span {
    font-size: 14px;
    color: #262626;
}

.sidebar-top>span p {
    margin-top: 8px;
    color: #8e8e8e;
}

.sidebar-top img {
    width: 56px;
    margin-right: 17px;
    border-radius: 100%;
}

.suggestions-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

.suggestions-header p:first-child {
    color: #8e8e8e;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.suggestions-header p:last-child {
    color: #262626;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
}

.suggestion {
    /* background: orange; */
    width: 289px;
    height: 32px;
    padding: 8px 16px 8px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.suggestion img {
    width: 32px;
    border-radius: 100%;
    margin-right: 11px;
}

.suggestion-title {
    margin-right: 125px;
}

.suggestion-title p:first-child {
    margin-bottom: 5px;
    font-size: 14px;
    color: #262626;
    line-height: 16px;
    font-weight: 500;
}

.suggestion-title p:last-child {
    margin-bottom: 2px;
    font-size: 12px;
    color: #8e8e8e;
    line-height: 14px;
    font-weight: 400;
}

.suggestion>p {
    color: #139EF2;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
}

.sidebar-bottom {
    margin-top: 27px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #c7c7c7;
}

.sidebar-bottom p:nth-child(2) {
    margin-top: 18px;
}

.barra-inferior {
    display: none;
}

@media (max-width:935px) {
    /* TABLET */
    .sidebar {
        display: none;
    }
    .topo>div {
        width: 100vh;
    }
    .container {
        width: auto;
    }
    .content {
        margin-right: 0px;
    }
}

@media (max-width:614px) {
    /* MOBILE */
    .topo {
        width: 100%;
    }
    .topo>div {
        box-sizing: border-box;
    }
    .topo-logo {
        /* background: red; */
        width: 325px;
        justify-content: space-between;
    }
    .topo>div {
        width: 100%;
    }
    .separador-horizontal {
        display: none;
    }
    .topo-pesquisa {
        display: none;
    }
    .topo-menu ion-icon {
        display: none;
        margin-right: 0px;
    }
    .topo-menu ion-icon:first-child {
        display: inline;
    }
    .content {
        width: 100%;
    }
    .container {
        width: 100%;
        margin-top: 54px;
    }
    .stories-box {
        margin-bottom: 0px;
        border: none;
        background: none;
        box-sizing: border-box;
        height: 121px;
    }
    .stories-box>div {
        box-sizing: border-box;
        width: 100%;
    }
    .story {
        border-radius: 100%;
    }
    .post {
        box-sizing: border-box;
        border-left: none;
        border-right: none;
        width: 100%;
        border-radius: 0px;
    }
    .post>img {
        width: 100%;
    }
    .post-top {
        border-radius: 0px;
    }
    .post-bottom {
        border-radius: 0px;
    }
    .barra-inferior {
        display: inline;
        box-sizing: border-box;
        width: 100%;
        height: 54px;
        background: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        padding: 0px 20px;
        border-top: 1px solid #dbdbdb;
    }
    .setinha {
        display: none;
    }
}